@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #062f62;
    overflow-x: hidden;
}

.navbar-cont {
    background-color: #ffffff;
    padding: 10px 5%;
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: space-between;
}

.navbar-cont .logo img {
    height: 60px;
    max-width: 100%;
}

.head-cont {
    text-align: center;
    margin: 40px 0 20px; /* Adjusted top and bottom margin */
}

.head-cont h2 {
    margin: 0;
    color: #ffffff;
}

.form-container {
    max-width: 100%;
    width: 500px; /* Adjust the max-width as needed */
    background-color: #ffffff; /* White background */
    border-radius: 15px; /* Rounded corners */
    margin: 20px auto; /* Center horizontally and add spacing */
    padding: 20px; /* Optional: Add padding as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Adjusted margin top */
}

.form-row {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap; /* Ensure flexibility for smaller screens */
    align-items: center;
}

.form-row label {
    min-width: 150px; /* Adjust label width as needed */
    margin-right: 10px;
    text-align: right;
}

.form-row input,
.form-row select,
.form-row textarea,
.form-row button {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

.form-row textarea {
    min-height: 100px; /* Adjust textarea height as needed */
}

.form-row button {
    background-color: #77c9ff;
    color: #062f62;
    border: none;
    cursor: pointer;
    height: 40px;
    transition: background-color 0.3s ease;
    width: auto; /* Adjusted to fit content */
    padding: 8px 12px; /* Adjusted padding */
    border-radius: 20px; /* Increased border radius */
    text-align: center; /* Center text horizontally */
    max-width: 150px; /* Limit button's maximum width */
    margin: 0 auto; /* Center horizontally */
}

.form-row button:hover {
    background-color: #5aa5e0;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .form-container {
        width: 90%;
        max-width: 100%;
    }

    .form-row label {
        text-align: left;
        margin-right: 0;
        margin-bottom: 5px;
    }

    .form-row input,
    .form-row select,
    .form-row textarea,
    .form-row button {
        width: 100%;
        margin-bottom: 10px;
    }
}
