@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #062f62;
    overflow-x: hidden;
    overflow-y: auto;
}

.navbar-cont {
    background-color: #ffffff;
    padding: 10px 5%;
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: space-between;
}

.navbar-cont .logo img {
    height: 60px;
    max-width: 100%;
}

.head-cont {
    text-align: center;
    margin: 40px 0 20px;
}

.head-cont h2 {
    margin: 0;
    color: #ffffff;
}

.table tbody tr:hover {
    background-color: #77c9ff;
    color: white;  /* Change text color on hover */
}

.table tbody td:hover {
    color: #062f62;  /* Change text color on hover */
}

.table {
    margin-top: 20px;
}

.table td {
    color: white;
    padding: 13px;
    vertical-align: top;
    border: none;
}

.table tbody tr:hover .time-of-update {
    color: #062f62;  /* Ensure time of update text changes color on hover */
}

.update-title {
    font-weight: bold;
    font-size: 1.2em; /* Adjust as necessary */
    margin-bottom: 5px; /* Add some space between title and message */
}

.update-message {
    font-size: 0.9em; /* Adjust as necessary */
}

.time-of-update {
    color: #e8e8e8;
    font-size: 0.6em; /* Slightly smaller font size */
    margin-top: 5px; /* Add some margin above the time text */
}

.container {
    margin-top: 30px;  /* Increased margin to shift the table downwards */
}
